deployment/improving-forecast-accuracy-with-machine-learning.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: >-

  (SO0123) Improving Forecast Accuracy with Machine Learning %%VERSION%% - This solution
  provides a mechanism to automate Amazon Forecast predictor and forecast generation and
  visualize it via an Amazon SageMaker Jupyter Notebook

Parameters:
  Email:
    Type: String
    Description: Email to notify with forecast results
    Default: ""
    MaxLength: 50
    AllowedPattern: '(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$|^$)'
    ConstraintDescription: "Must be a valid email address"

  LambdaLogLevel:
    Type: String
    Description: Change the verbosity of the logs output to CloudWatch
    Default: WARNING
    AllowedValues:
      - DEBUG
      - INFO
      - WARNING
      - ERROR

  NotebookDeploy:
    Type: String
    Description: Deploy an Amazon Sagemaker Jupyter Notebook instance
    Default: 'No'
    AllowedValues:
      - 'Yes'
      - 'No'

  NotebookVolumeSize:
    Type: Number
    Description: Enter the size of the Notebook instance EBS Volume in GB
    Default: 10
    MinValue: 5
    MaxValue: 16384
    ConstraintDescription: Must be an integer between 5 (GB) and 16384 (16 TB)

  NotebookInstanceType:
    Type: String
    Description: Enter the type of the Notebook instance
    Default: ml.t2.medium
    AllowedValues:
      - ml.t2.medium
      - ml.t3.medium
      - ml.r5.large
      - ml.c5.large

  QuickSightAnalysisOwner:
    Type: String
    Description: With QuickSight Enterprise enabled, provide a QuickSight ADMIN user ARN to automatically create QuickSight analyses
    Default: ""
    AllowedPattern: '(^arn:.*:quicksight:.*:.*:user.*$|^$)'

Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default: "Improving Forecast Accuracy with Machine Learning Configuration"
        Parameters:
          - Email
      - Label:
          default: "Visualization Options"
        Parameters:
          - QuickSightAnalysisOwner
          - NotebookDeploy
          - NotebookInstanceType
          - NotebookVolumeSize
      - Label:
          default: "Deployment Configuration"
        Parameters:
          - LambdaLogLevel
    ParameterLabels:
      LambdaLogLevel:
        default: CloudWatch Log Level
      QuickSightAnalysisOwner:
        default: Deploy QuickSight Dashboards
      NotebookDeploy:
        default: Deploy Jupyter Notebook
      NotebookVolumeSize:
        default: Jupyter Notebook volume size
      NotebookInstanceType:
        default: Jupyter Notebook instance type

Mappings:
  Solution:
    Data:
      ID: SO0123
      Version: '%%VERSION%%'
      SendAnonymousUsageData: 'Yes'
    Deployment:
      Id: '%%DEPLOYMENT_ID%%'
  SourceCode:
    General:
      S3Bucket: "%%BUCKET_NAME%%"
      KeyPrefix: "%%SOLUTION_NAME%%/%%VERSION%%"
      QuickSightSourceTemplateArn: "%%QUICKSIGHT_SOURCE%%"


Conditions:
  CreateNotebook: !Equals [ !Ref NotebookDeploy, 'Yes' ]
  EmailProvided:  !Not [!Equals [ !Ref Email, '' ] ]
  SendAnonymousUsageData: !Equals [ !FindInMap ['Solution', 'Data', 'SendAnonymousUsageData' ], 'Yes' ]
  CreateAnalysis: !Not [!Equals [ !Ref QuickSightAnalysisOwner, ''] ]

Resources:
  # --------- Jupyter Notebook ----------
  NotebookInstance:
    Type: AWS::SageMaker::NotebookInstance
    Condition: CreateNotebook
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W1201
            reason: If you don't specify a KMS key, Amazon SageMaker encrypts storage volumes with a transient key and discards it immediately after encrypting the storage volume.
    Properties:
      InstanceType: !Ref NotebookInstanceType
      NotebookInstanceName: !Sub "${AWS::StackName}-aws-forecast-visualization"
      RoleArn: !GetAtt NotebookRole.Arn
      VolumeSizeInGB: !Ref NotebookVolumeSize
      LifecycleConfigName: !GetAtt NotebookLifecycleConfig.NotebookInstanceLifecycleConfigName
      Tags:
        - Key: FORECAST_BUCKET
          Value:
            Fn::Base64:
              !Sub "${DataBucketName.Name}"
        - Key: NOTEBOOK_BUCKET
          Value:
            Fn::Base64: !Sub
              - "${bucket}-${AWS::Region}"
              - bucket: !FindInMap ["SourceCode", "General", "S3Bucket"]
        - Key: NOTEBOOK_PREFIX
          Value:
            Fn::Base64: !Sub
              - "${prefix}/notebooks"
              - prefix: !FindInMap ["SourceCode", "General", "KeyPrefix"]

  NotebookLifecycleConfig:
    Type: AWS::SageMaker::NotebookInstanceLifecycleConfig
    Condition: CreateNotebook
    Properties:
      OnStart:
        - Content:
            Fn::Base64: |
              %%substitute('notebook/lifecycle_config.py')|indent(14)%%

  NotebookRole:
    Type: AWS::IAM::Role
    Condition: CreateNotebook
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - sagemaker.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: ForecastBucketAccessPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:GetBucketLocation
                  - s3:ListBucket
                  - s3:ListObjects
                  - s3:ListBucketMultipartUploads
                  - s3:ListMultipartUploadParts
                  - s3:PutObject
                  - s3:AbortMultipartUpload
                  - s3:DeleteObject
                Resource:
                  - !Sub "arn:${AWS::Partition}:s3:::${DataBucketName.Name}/*"
                  - !Sub "arn:${AWS::Partition}:s3:::${DataBucketName.Name}"
        - PolicyName: NotebookBucketAccessPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                  - s3:ListObjects
                Resource:
                  - Fn::Sub:
                    - "arn:${AWS::Partition}:s3:::${bucket}-${AWS::Region}/*"
                    - bucket: !FindInMap ["SourceCode", "General", "S3Bucket"]
                  - Fn::Sub:
                    - "arn:${AWS::Partition}:s3:::${bucket}-${AWS::Region}"
                    - bucket: !FindInMap ["SourceCode", "General", "S3Bucket"]
        - PolicyName: SagemakerNotebookListTags
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - sagemaker:ListTags
                Resource:
                  - !Sub "arn:${AWS::Partition}:sagemaker:${AWS::Region}:${AWS::AccountId}:notebook-instance/*-aws-forecast-visualization"
        - PolicyName: SagemakerNotebookCloudWatchLogs
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !Sub "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/sagemaker/*"

  # --------- Logs -----------
  AccessLogsBucket:
    Type: AWS::S3::Bucket
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W35
            reason: This S3 bucket is used as the logging destination for forecast datasets and exports
          - id: W51
            reason: This bucket is used for logging. By default it is private and doesn't need a bucket policy.
    Properties:
      AccessControl: LogDeliveryWrite
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  # --------- Buckets and Bucket Policies ---------
  AthenaBucket:
    Type: AWS::S3::Bucket
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W51
            reason: This bucket is used for storing Athena query results, is private, and does not need a bucket policy
    Properties:
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      PublicAccessBlockConfiguration:
        BlockPublicAcls: True
        BlockPublicPolicy: True
        IgnorePublicAcls: True
        RestrictPublicBuckets: True
      LoggingConfiguration:
        DestinationBucketName: !Ref AccessLogsBucket
        LogFilePrefix: athena-bucket-access-logs/

  AthenaBucketSSLPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref AthenaBucket
      PolicyDocument:
        Statement:
          - Effect: Deny
            Action: "*"
            Principal: "*"
            Resource: !Sub "arn:${AWS::Partition}:s3:::${AthenaBucket}/*"
            Condition:
              Bool:
                "aws:SecureTransport": False

  ForecastBucket:
    Type: AWS::S3::Bucket
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    DependsOn: S3NotificationLambdaS3BucketPermission
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W51
            reason: This bucket is used for storing forecasts, is private, and does not need a bucket policy.
    Properties:
      BucketName: !Sub "${DataBucketName.Name}"
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      PublicAccessBlockConfiguration:
        BlockPublicAcls: True
        BlockPublicPolicy: True
        IgnorePublicAcls: True
        RestrictPublicBuckets: True
      LifecycleConfiguration:
        Rules:
          - AbortIncompleteMultipartUpload:
              DaysAfterInitiation: 3
            Status: Enabled
          - ExpirationInDays: 1
            Prefix: raw/
            Status: Enabled
      LoggingConfiguration:
        DestinationBucketName: !Ref AccessLogsBucket
        LogFilePrefix: forecast-bucket-access-logs/
      NotificationConfiguration:
        LambdaConfigurations:
          - Function: !GetAtt [S3NotificationLambda, Arn]
            Event: "s3:ObjectCreated:*"
            Filter:
              S3Key:
                Rules:
                  - Name: prefix
                    Value: train/
                  - Name: suffix
                    Value: .csv

  DataBucketName:
    Type: Custom::BucketName
    Properties:
      ServiceToken: !GetAtt "BucketNameFunction.Arn"
      BucketPurpose: data-bucket
      StackName: !Sub "${AWS::StackName}"
      Id: !Sub "${UniqueName.Id}"

  BucketNameFunction:
    Type: AWS::Lambda::Function
    Properties:
      Handler: bucket_name.handler
      Timeout: 10
      Runtime: python3.8
      Role: !GetAtt [LambdaLoggingOnlyRole, Arn]
      Code:
        S3Bucket: !Join ["-", [!FindInMap ["SourceCode", "General", "S3Bucket"], Ref: "AWS::Region"]]
        S3Key: !Join ["/", [!FindInMap ["SourceCode", "General", "KeyPrefix"], "cloudformation_resources.zip"]]

  UniqueName:
    Type: Custom::UniqueName
    Properties:
      ServiceToken: !GetAtt "UniqueNameFunction.Arn"

  UniqueNameFunction:
    Type: AWS::Lambda::Function
    Properties:
      Handler: unique_name.handler
      Timeout: 10
      Runtime: python3.8
      Role: !GetAtt [LambdaLoggingOnlyRole, Arn]
      Code:
        S3Bucket: !Join ["-", [!FindInMap ["SourceCode", "General", "S3Bucket"], Ref: "AWS::Region"]]
        S3Key: !Join ["/", [!FindInMap ["SourceCode", "General", "KeyPrefix"], "cloudformation_resources.zip"]]

  # ---------- Athena and Glue ----------
  AthenaWorkGroup:
    Type: AWS::Athena::WorkGroup
    Properties:
      Name: !Sub "${AWS::StackName}"
      Description: !Sub "Workgroup for Improving Forecast Accuracy with Machine Learning (stack: ${AWS::StackName})"
      State: ENABLED
      RecursiveDeleteOption: True
      WorkGroupConfiguration:
        EnforceWorkGroupConfiguration: True
        ResultConfiguration:
          OutputLocation: !Sub "s3://${AthenaBucket}/query-results"
          EncryptionConfiguration:
            EncryptionOption: SSE_S3

  DataCatalog:
    Type: AWS::Glue::Database
    Properties:
      CatalogId: !Ref AWS::AccountId
      DatabaseInput:
        Name: !Sub "forecast_${UniqueName.Id}"
        Description: !Sub "Database for Improving Forecast Accuracy with Machine Learning (stack: ${AWS::StackName})"

  SecurityConfiguration:
    Type: AWS::Glue::SecurityConfiguration
    Properties:
      Name: !Sub "Security Configuration for ${AWS::StackName}"
      EncryptionConfiguration:
        CloudWatchEncryption:
          CloudWatchEncryptionMode: SSE-KMS
          KmsKeyArn: !Sub "arn:${AWS::Partition}:kms:${AWS::Region}:${AWS::AccountId}/alias/aws/glue"
        JobBookmarksEncryption:
          JobBookmarksEncryptionMode: CSE-KMS
          KmsKeyArn: !Sub "arn:${AWS::Partition}:kms:${AWS::Region}:${AWS::AccountId}/alias/aws/glue"
        S3Encryptions:
          - S3EncryptionMode: SSE-S3

  RedeployLambdas:
    Type: Custom::RedeployLambdas
    Properties:
      ServiceToken: !GetAtt "RedeployLambdasFunction.Arn"
      Toggle: !FindInMap ['Solution', 'Deployment', 'Id']

  RedeployLambdasFunction:
    Type: AWS::Lambda::Function
    Properties:
      Handler: generate_id.handler
      Timeout: 10
      Runtime: python3.8
      Role: !GetAtt [LambdaLoggingOnlyRole, Arn]
      Code:
        S3Bucket: !Join ["-", [!FindInMap ["SourceCode", "General", "S3Bucket"], Ref: "AWS::Region"]]
        S3Key: !Join ["/", [!FindInMap ["SourceCode", "General", "KeyPrefix"], "cloudformation_resources.zip"]]

  S3NotificationLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-S3NotificationLambda-${RedeployLambdas.Id}"
      Code:
        S3Bucket: !Join ["-", [!FindInMap ["SourceCode", "General", "S3Bucket"], Ref: "AWS::Region"]]
        S3Key: !Join ["/", [!FindInMap ["SourceCode", "General", "KeyPrefix"], "notification.zip"]]
      Layers:
        - !Ref LayerDependencies
      Handler: handler.notification
      Runtime: python3.8
      Timeout: 300
      Role: !GetAtt [TriggerRole, Arn]
      Environment:
        Variables:
          STEP_FUNCTIONS_ARN: !Ref DeployStateMachine
          LOG_LEVEL: !Ref LambdaLogLevel

  # --------- SNS Topic ---------
  NotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      DisplayName: Improving Forecast Accuracy with Machine Learning Notifications
      KmsMasterKeyId: alias/aws/sns

  NotificationSubscription:
    Type: AWS::SNS::Subscription
    Condition: EmailProvided
    Properties:
      TopicArn: !Ref NotificationTopic
      Endpoint: !Ref Email
      Protocol: email

  # --------- Lambdas ---------
  LayerDependencies:
    Type: AWS::Lambda::LayerVersion
    Properties:
      Description: Shared dependencies for all AWS Lambda functions packaged into a layer
      LayerName: !Sub "${AWS::StackName}-LayerDependencies-${RedeployLambdas.Id}"
      CompatibleRuntimes:
        - python3.8
      Content:
        S3Bucket: !Join ["-", [!FindInMap ["SourceCode", "General", "S3Bucket"], Ref: "AWS::Region"]]
        S3Key: !Join ["/", [!FindInMap ["SourceCode", "General", "KeyPrefix"], "lambda_dependencies.zip"]]

  LayerDatasetUtils:
    Type: AWS::Lambda::LayerVersion
    Properties:
      Description: Dependencies for data manipulation with Athena/ PyAthena
      LayerName: !Sub "${AWS::StackName}-LayerDatasetUtils-${RedeployLambdas.Id}"
      CompatibleRuntimes:
        - python3.8
      Content:
        S3Bucket: !Join ["-", [!FindInMap ["SourceCode", "General", "S3Bucket"], Ref: "AWS::Region"]]
        S3Key: !Join ["/", [!FindInMap ["SourceCode", "General", "KeyPrefix"], "lambda_datasetutils.zip"]]

  CreateDatasetGroup:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-CreateDatasetGroup-${RedeployLambdas.Id}"
      Code:
        S3Bucket: !Join ["-", [!FindInMap ["SourceCode", "General", "S3Bucket"], Ref: "AWS::Region"]]
        S3Key: !Join ["/", [!FindInMap ["SourceCode", "General", "KeyPrefix"], "createdatasetgroup.zip"]]
      Layers:
        - !Ref LayerDependencies
      Handler: handler.createdatasetgroup
      Runtime: python3.8
      Timeout: 300
      Role: !GetAtt [LambdaForecastRole, Arn]
      Environment:
        Variables:
          LOG_LEVEL: !Ref LambdaLogLevel

  CreateDatasetImportJob:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-CreateDatasetImportJob-${RedeployLambdas.Id}"
      Code:
        S3Bucket: !Join ["-", [!FindInMap ["SourceCode", "General", "S3Bucket"], Ref: "AWS::Region"]]
        S3Key: !Join ["/", [!FindInMap ["SourceCode", "General", "KeyPrefix"], "createdatasetimportjob.zip"]]
      Layers:
        - !Ref LayerDependencies
      Handler: handler.createdatasetimportjob
      Runtime: python3.8
      Timeout: 300
      Role: !GetAtt [LambdaForecastRole, Arn]
      Environment:
        Variables:
          FORECAST_ROLE: !GetAtt [ForecastS3AccessRole, Arn]
          LOG_LEVEL: !Ref LambdaLogLevel

  CreatePredictor:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-CreatePredictor-${RedeployLambdas.Id}"
      Code:
        S3Bucket: !Join ["-", [!FindInMap ["SourceCode", "General", "S3Bucket"], Ref: "AWS::Region"]]
        S3Key: !Join ["/", [!FindInMap ["SourceCode", "General", "KeyPrefix"], "createpredictor.zip"]]
      Layers:
        - !Ref LayerDependencies
      Handler: handler.createpredictor
      Runtime: python3.8
      Timeout: 300
      Role: !GetAtt [LambdaForecastRole, Arn]
      Environment:
        Variables:
          LOG_LEVEL: !Ref LambdaLogLevel

  CreateForecast:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-CreateForecast-${RedeployLambdas.Id}"
      Code:
        S3Bucket: !Join ["-", [!FindInMap ["SourceCode", "General", "S3Bucket"], Ref: "AWS::Region"]]
        S3Key: !Join ["/", [!FindInMap ["SourceCode", "General", "KeyPrefix"], "createforecast.zip"]]
      Layers:
        - !Ref LayerDependencies
      Handler: handler.createforecast
      Runtime: python3.8
      Timeout: 300
      Role: !GetAtt [LambdaForecastRole, Arn]
      Environment:
        Variables:
          EXPORT_ROLE: !GetAtt [ForecastS3AccessRole, Arn]
          LOG_LEVEL: !Ref LambdaLogLevel

  PrepareForecastExport:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-PrepareForecastExport-${RedeployLambdas.Id}"
      Code:
        S3Bucket: !Join ["-", [!FindInMap ["SourceCode", "General", "S3Bucket"], Ref: "AWS::Region"]]
        S3Key: !Join ["/", [!FindInMap ["SourceCode", "General", "KeyPrefix"], "datasetutils.zip"]]
      Layers:
        - !Ref LayerDatasetUtils
      Handler: handler.prepareexport
      Runtime: python3.8
      Timeout: 900
      MemorySize: 512
      Role: !GetAtt [PrepareForecastRole, Arn]
      Environment:
        Variables:
          WORKGROUP_NAME: !Ref AthenaWorkGroup
          SCHEMA_NAME: !Ref DataCatalog
          QUICKSIGHT_PRINCIPAL: !Ref QuickSightAnalysisOwner
          LOG_LEVEL: !Ref LambdaLogLevel
          QUICKSIGHT_SOURCE: !FindInMap ["SourceCode", "General", "QuickSightSourceTemplateArn"]

  NotifyTopic:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-NotifyTopic-${RedeployLambdas.Id}"
      Code:
        S3Bucket: !Join ["-", [!FindInMap ["SourceCode", "General", "S3Bucket"], Ref: "AWS::Region"]]
        S3Key: !Join ["/", [!FindInMap ["SourceCode", "General", "KeyPrefix"], "sns.zip"]]
      Layers:
        - !Ref LayerDependencies
      Handler: handler.sns
      Runtime: python3.8
      Timeout: 300
      Role: !GetAtt [NotificationRole, Arn]
      Environment:
        Variables:
          SNS_TOPIC_ARN: !Ref NotificationTopic
          LOG_LEVEL: !Ref LambdaLogLevel

  S3NotificationLambdaS3BucketPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      SourceAccount: !Ref "AWS::AccountId"
      FunctionName: !Ref S3NotificationLambda
      Principal: "s3.amazonaws.com"

  # --------- Necessary Roles ---------
  StatesExecutionRole:
    Type: AWS::IAM::Role
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W76
            reason: "Policy Purpose: This policy grants access to AWS Step Functions to invoke all of its Lambda Functions."
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - !Sub states.${AWS::Region}.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StatesExecutionPolicy
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt [CreateDatasetGroup, Arn]
                  - !GetAtt [CreateDatasetImportJob, Arn]
                  - !GetAtt [CreatePredictor, Arn]
                  - !GetAtt [CreateForecast, Arn]
                  - !GetAtt [NotifyTopic, Arn]
                  - !GetAtt [PrepareForecastExport, Arn]

  TriggerRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              AWS: !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:root"
              Service:
                - lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: LoggingPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !Sub "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/*"
        - PolicyName: StepFunctionExecutionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !Ref DeployStateMachine
        - PolicyName: ForecastBucketAccessPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !Sub "arn:${AWS::Partition}:s3:::${DataBucketName.Name}/*"
                  - !Sub "arn:${AWS::Partition}:s3:::${DataBucketName.Name}"

  NotificationRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              AWS: !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:root"
              Service:
                - lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: LoggingPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !Sub "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/*"
        - PolicyName: SNSPublishPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - SNS:Publish
                Resource:
                  - !Ref NotificationTopic

  LambdaLoggingOnlyRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Principal:
            AWS:
              Fn::Sub: arn:${AWS::Partition}:iam::${AWS::AccountId}:root
            Service:
            - lambda.amazonaws.com
          Action: sts:AssumeRole
      Policies:
        - PolicyName: LoggingPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !Sub "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/*"

  PrepareForecastRole:
    Type: AWS::IAM::Role
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W11
            reason: AWS::IAM::Roles for CloudWatch require "*" resources
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              AWS: !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:root"
              Service:
                - lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: ForecastAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - forecast:Describe*
                  - forecast:List*
                  - forecast:Create*
                  - forecast:Update*
                  - forecast:TagResource
                Resource: "*"
        - PolicyName: AthenaAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - athena:StartQueryExecution
                  - athena:GetQueryExecution
                  - athena:GetQueryResults
                Resource: !Sub "arn:${AWS::Partition}:athena:${AWS::Region}:${AWS::AccountId}:workgroup/${AthenaWorkGroup}"
        - PolicyName: GlueAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - glue:GetDatabase
                  - glue:GetTable
                  - glue:GetPartitions
                  - glue:DeleteTable
                  - glue:CreateTable
                  - glue:BatchCreatePartition
                Resource:
                  - !Sub "arn:${AWS::Partition}:glue:${AWS::Region}:${AWS::AccountId}:catalog"
                  - !Sub "arn:${AWS::Partition}:glue:${AWS::Region}:${AWS::AccountId}:${DataCatalog}"
                  - !Sub "arn:${AWS::Partition}:glue:${AWS::Region}:${AWS::AccountId}:table/${DataCatalog}/*"
                  - !Sub "arn:${AWS::Partition}:glue:${AWS::Region}:${AWS::AccountId}:database/${DataCatalog}"
        - PolicyName: QuickSightAccess
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - quicksight:CreateAnalysis
                  - quicksight:DeleteAnalysis
                  - quicksight:CreateDataSet
                  - quicksight:DeleteDataSet
                  - quicksight:CreateDataSource
                  - quicksight:UpdateDataSource
                  - quicksight:UpdateDataSourcePermissions
                  - quicksight:DeleteDataSource
                  - quicksight:Describe*
                  - quicksight:Get*
                  - quicksight:List*
                  - quicksight:PassDataSet
                  - quicksight:PassDataSource
                  - quicksight:RestoreAnalysis
                  - quicksight:SearchAnalyses
                Resource: "*"
        - PolicyName: LoggingPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !Sub "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/*"
        - PolicyName: AthenaBucketAccessPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetBucketLocation
                  - s3:GetObject
                  - s3:ListBucket
                  - s3:ListObjects
                  - s3:PutObject
                  - s3:CreateMultipartUpload
                  - s3:ListMultipartUploadParts
                  - s3:AbortMultipartUpload
                Resource:
                  - !Sub "${AthenaBucket.Arn}/*"
                  - !Sub "${AthenaBucket.Arn}"
        - PolicyName: ForecastBucketAccessPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetBucketLocation
                  - s3:GetObject
                  - s3:ListBucket
                  - s3:ListObjects
                  - s3:PutObject
                  - s3:CreateMultipartUpload
                  - s3:ListMultipartUploadParts
                  - s3:AbortMultipartUpload
                Resource:
                  - !Sub "arn:${AWS::Partition}:s3:::${DataBucketName.Name}/*"
                  - !Sub "arn:${AWS::Partition}:s3:::${DataBucketName.Name}"
        - PolicyName: ForecastPassRolePolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - iam:PassRole
                Resource: !GetAtt [ForecastS3AccessRole, Arn]
        - PolicyName: ForecastCloudwatchAccessPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - cloudwatch:PutMetricData
                Condition:
                  StringLike:
                    "cloudwatch:namespace": "Forecast*"
                Resource: "*"



  LambdaForecastRole:
    Type: AWS::IAM::Role
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W11
            reason: AWS::IAM::Roles for CloudWatch require "*" resources
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              AWS: !Sub "arn:${AWS::Partition}:iam::${AWS::AccountId}:root"
              Service:
                - lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: ForecastAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - forecast:Describe*
                  - forecast:List*
                  - forecast:Create*
                  - forecast:Update*
                  - forecast:TagResource
                Resource: "*"
        - PolicyName: LoggingPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !Sub "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/*"
        - PolicyName: ForecastBucketAccessPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                  - s3:ListObjects
                Resource:
                  - !Sub "arn:${AWS::Partition}:s3:::${DataBucketName.Name}/*"
                  - !Sub "arn:${AWS::Partition}:s3:::${DataBucketName.Name}"
        - PolicyName: ForecastPassRolePolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - iam:PassRole
                Resource: !GetAtt [ForecastS3AccessRole, Arn]
        - PolicyName: ForecastCloudwatchAccessPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - cloudwatch:PutMetricData
                Condition:
                  StringLike:
                    "cloudwatch:namespace": "Forecast*"
                Resource: "*"

  ForecastS3AccessRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - forecast.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: ForecastBucketAccessPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:Get*
                  - s3:List*
                  - s3:PutObject
                Resource:
                  - !Sub "arn:${AWS::Partition}:s3:::${DataBucketName.Name}/*"
                  - !Sub "arn:${AWS::Partition}:s3:::${DataBucketName.Name}"

  # --------- State Machine ---------
  DeployStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "Forecast-Workflow-Automation-${AWS::StackName}"
      RoleArn: !GetAtt [StatesExecutionRole, Arn]
      DefinitionString:
        !Sub
          - |-
            {
              "Comment": "An automation Pipeline for Amazon Forecast",
              "StartAt": "Check-Error",
              "States": {
                "Check-Error": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.serviceError",
                      "IsPresent": true,
                      "Next": "Notify-Failed"
                    }
                  ],
                  "Default": "Create-DatasetGroup"
                },
                "Create-DatasetGroup": {
                  "Type": "Task",
                  "Resource": "${CreateDatasetGroupArn}",
                  "ResultPath": "$.DatasetGroupNames",
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "ResourcePending",
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                      ],
                      "IntervalSeconds": 5,
                      "BackoffRate": 1.05
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": [
                        "ResourceFailed"
                      ],
                      "ResultPath": "$.serviceError",
                      "Next": "Notify-Failed"
                    },
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "ResultPath": "$.statesError",
                      "Next": "Notify-Failed"
                    }
                  ],
                  "Next": "Import-Data"
                },
                "Import-Data": {
                  "Type": "Task",
                  "Resource": "${ImportDataArn}",
                  "ResultPath": "$.DatasetImportJobArn",
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "ResourcePending",
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                      ],
                      "IntervalSeconds": 5,
                      "BackoffRate": 1.05,
                      "MaxAttempts": 100
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": [
                        "ResourceFailed"
                      ],
                      "ResultPath": "$.serviceError",
                      "Next": "Notify-Failed"
                    },
                    {
                      "ErrorEquals": [
                        "States.ALL"
                      ],
                      "ResultPath": "$.statesError",
                      "Next": "Notify-Failed"
                    }
                  ],
                  "Next": "Create-Forecasts"
                },
                "Create-Forecasts": {
                  "Type": "Map",
                  "End": true,
                  "ItemsPath": "$.DatasetGroupNames",
                  "Parameters": {
                    "bucket.$": "$.bucket",
                    "dataset_file.$": "$.dataset_file",
                    "dataset_group_name.$": "$$.Map.Item.Value",
                    "config.$": "$.config"
                  },
                  "Iterator": {
                    "StartAt": "Create-Predictor",
                    "States": {
                      "Create-Predictor": {
                        "Type": "Task",
                        "Resource": "${CreatePredictorArn}",
                        "ResultPath": "$.PredictorArn",
                        "Retry": [
                          {
                            "ErrorEquals": [
                              "DatasetsImporting",
                              "ResourcePending",
                              "Lambda.ServiceException",
                              "Lambda.AWSLambdaException",
                              "Lambda.SdkClientException"
                            ],
                            "IntervalSeconds": 5,
                            "BackoffRate": 1.05,
                            "MaxAttempts": 100
                          }
                        ],
                        "Catch": [
                          {
                            "ErrorEquals": [
                              "ResourceFailed"
                            ],
                            "ResultPath": "$.serviceError",
                            "Next": "Notify-Prediction-Failed"
                          },
                          {
                            "ErrorEquals": [
                              "NotMostRecentUpdate"
                            ],
                            "Next": "Update-Not-Required"
                          },
                          {
                            "ErrorEquals": [
                              "States.ALL"
                            ],
                            "ResultPath": "$.statesError",
                            "Next": "Notify-Prediction-Failed"
                          }
                        ],
                        "Next": "Create-Forecast"
                      },
                      "Update-Not-Required": {
                        "Type": "Succeed"
                      },
                      "Create-Forecast": {
                        "Type": "Task",
                        "Resource": "${CreateForecastArn}",
                        "ResultPath": "$.ForecastArn",
                        "Retry": [
                          {
                            "ErrorEquals": [
                              "ResourcePending",
                              "Lambda.ServiceException",
                              "Lambda.AWSLambdaException",
                              "Lambda.SdkClientException"
                            ],
                            "IntervalSeconds": 5,
                            "BackoffRate": 1.05,
                            "MaxAttempts": 100
                          }
                        ],
                        "Catch": [
                          {
                            "ErrorEquals": [
                              "ResourceFailed"
                            ],
                            "ResultPath": "$.serviceError",
                            "Next": "Notify-Prediction-Failed"
                          },
                          {
                            "ErrorEquals": [
                              "States.ALL"
                            ],
                            "ResultPath": "$.statesError",
                            "Next": "Notify-Prediction-Failed"
                          }
                        ],
                        "Next": "Export-Forecast"
                      },
                      "Export-Forecast": {
                        "Type": "Task",
                        "Resource": "${PrepareForecastExportArn}",
                        "ResultPath": "$.ExportTableName",
                        "Catch": [
                          {
                            "ErrorEquals": [
                              "States.ALL"
                            ],
                            "ResultPath": "$.statesError",
                            "Next": "Notify-Prediction-Failed"
                          }
                        ],
                        "Next": "Notify-Success"
                      },
                      "Notify-Success": {
                        "Type": "Task",
                        "Resource": "${NotifyTopicArn}",
                        "ResultPath": "$.NotifyTopic",
                        "End": true
                      },
                      "Notify-Prediction-Failed": {
                        "Type": "Task",
                        "Resource": "${NotifyTopicArn}",
                        "ResultPath": null,
                        "Next": "Prediction-Failed"
                      },
                      "Prediction-Failed": {
                        "Type": "Fail"
                      }
                    }
                  }
                },
                "Notify-Failed": {
                  "Type": "Task",
                  "Resource": "${NotifyTopicArn}",
                  "ResultPath": null,
                  "Next": "FailureState"
                },
                "FailureState": {
                  "Type": "Fail"
                }
              }
            }
          - CreateDatasetGroupArn: !GetAtt [CreateDatasetGroup, Arn]
            ImportDataArn: !GetAtt [CreateDatasetImportJob, Arn]
            CreatePredictorArn: !GetAtt [CreatePredictor, Arn]
            CreateForecastArn: !GetAtt [CreateForecast, Arn]
            NotifyTopicArn: !GetAtt [NotifyTopic, Arn]
            PrepareForecastExportArn: !GetAtt [PrepareForecastExport, Arn]

  SolutionMetricsAnonymousData:
    Type: "Custom::AnonymousData"
    Condition: SendAnonymousUsageData
    Properties:
      ServiceToken: !GetAtt SolutionMetrics.Arn
      Solution: !FindInMap ["Solution", "Data", "ID"]
      Version: !FindInMap ["Solution", "Data", "Version"]
      Region: !Sub "${AWS::Region}"
      NotebookDeployed: !If [ CreateNotebook, 'Yes', 'No' ]
      NotebookType: !If [ CreateNotebook, !Ref NotebookInstanceType, !Ref "AWS::NoValue"]
      QuickSightDeployed: !If [ CreateAnalysis, 'Yes', 'No' ]

  SolutionMetrics:
    Type: AWS::Lambda::Function
    Properties:
      Handler: solution_metrics.handler
      Timeout: 10
      Runtime: python3.8
      Role: !GetAtt [LambdaLoggingOnlyRole, Arn]
      Code:
        S3Bucket: !Join ["-", [!FindInMap ["SourceCode", "General", "S3Bucket"], Ref: "AWS::Region"]]
        S3Key: !Join ["/", [!FindInMap ["SourceCode", "General", "KeyPrefix"], "cloudformation_resources.zip"]]

Outputs:
  StepFunctionsName:
    Description: Step Functions Name
    Value: !Ref DeployStateMachine
  ForecastBucketName:
    Description: Forecast bucket name to drop your files
    Value: !Ref ForecastBucket
  AthenaBucketName:
    Description: Athena query output bucket
    Value: !Ref AthenaBucket